.review-card {
    display: flex;
    flex-direction: column;
    row-gap: 48px;

    @include mobile {
        row-gap: 44px;
    }

    &__body {
        position: relative;
        border: 1px solid var(--color-accent);
        border-radius: var(--border-radius-large);
        padding: 48px 52px 52px;

        @include mobile {
            padding: 30px;
        }

        &::after {
            @include square(40);

            @include mobile {
                @include square(30);
                translate: 50% -50.7%;
            }

            content: "";
            position: absolute;
            border: inherit;
            background-color: var(--color-dark);
            rotate: 45deg;
            top: 100%;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            translate: 0% -50.5%;
        }

    }

    &__footer {
        display: flex;
        flex-direction: column;
        padding-left: 70px;

        @include mobile {
            padding-left: 50px;
        }
    }

    &__name,
    &__company {
        @include fluid-text(20, 18);

        font-style: normal;
    }

    &__name {
        color: var(--color-accent);
    }
}