.service-card {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    // max-width: 600px;
    min-height: 320px;
    padding: 50px;
    background-color: var(--color-light-gray);
    border: var(--border);
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);

    @include mobile {
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 27px;
    }

    &__title {
        display: flex;
        flex-direction: column;
        align-items: start;

        @include mobile {
            grid-column: -1 / 1;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 30px;

        @include mobile {
            display: contents;
        }
    }

    &__image {
        align-self: center;

        @include desktop {
            max-width: 50%;
            height: auto;
        }

        @include tablet {
            max-width: 100%;
            height: auto;
        }

        @include mobile {
            max-width: 165px;
        }
    }

    &__link {
        --colorIcon: var(--color-accent);
        font-size: 20px;
        display: inline-flex;
        align-items: center;
        column-gap: 15px;

        @include hover {
            opacity: 0.7;
        }

        &-label {
            @include mobile {
                @include visually-hidden;
            }
        }

        @include mobile {
            align-self: end;
        }

        &--light {
            --colorIcon: var(--color-dark);
            color: var(--color-light);
        }

        &-icon-wrapper {
            @include flex-center;
            @include square(41);

            background-color: currentColor;
            border-radius: 50%;

            svg {
                color: var(--colorIcon)
            }
        }
    }

    &--accent-bg {
        background-color: var(--color-accent);
    }

    &--dark-bg {
        background-color: var(--color-dark);
    }
}